.container{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    
}

.Calculator{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display{
    border: 2px solid purple;
    width: 330px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.display0{
    font-size: xx-large;
}

.Row{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid orange;
}

#operand0{
    width: 170px;
}

button{
    font-size: large;
    text-align: center;
    height: 80px;
    width: 80px;
}